.produtos-page {
    min-height: 1000px;
}

.produtos-page img {
    width: 100%;
}


.produtos-page ul {
    padding: 0px;
}

.produto-card {
    padding-bottom: 25px;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.produto-card h5 {
    font-size: 14px;
    margin-bottom: 5px;
}

.produto-card .riscado {
    color: grey;
    text-decoration: line-through;
    font-size: 14px;
    line-height: 12px;
}

.produto-card .preco {
    font-size: 20px;
}

.produto-card button {
    border: 0px solid;
    color: white;
    font-size: 24px;
    width: 55px;
    text-align: center;
}

.produto-card .add {
    background-color: rgb(2, 204, 59);
    border-radius: 0px 15px 15px 0px;
}

.produto-card .rem {
    background-color: rgb(137, 137, 137);
    border-radius: 15px 0px 0px 15px;
}

.produto-card .quant-number {
    width: 55px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    border: 1px solid rgb(196, 196, 196);
    /* background-color: rgb(236, 236, 236);*/
}

.preco-pg-lista {
    text-align: right;
    margin: -0px 15px 15px 0pc
}

