.categorias {
    padding: 20px 20px 25px 0px;
}
.categorias .lista {
    position: relative;
    background-color: rgb(235, 235, 235);
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}
.categorias a {

    color: rgb(72, 72, 72);
    

}

.produtos-page {
    align-items: flex-start;
}
