body {
  /*overflow-x: hidden;*/
  background-color: rgb(244, 244, 244);
/* background-color: rgb(120, 120, 120);*/
  min-height: 100%;
}

.noscroll {
  position: fixed!important;
}


.navbar-logo {
  flex: 0;
  flex-basis: 64px;
  height: 48px;
  background-image: url('/src/assets/png/LogoAlpha48px.png');
  background-repeat: no-repeat;
  background-position: center;  

}


.c-px-3>* {
  margin-left: 1rem;
  margin-right: 1rem;
}

.c-flex-grow-1>* {
  flex-grow: 1;

}

@media screen and (min-width: 992px) {
  .navbar-logo {
    flex-basis: 289px;
    background-image: url('/src/assets/png/LogoExtended48px.png');
  }
}
